<% include partials/header %>

<link rel="stylesheet" href="/css/home.css">
 <script src="/js/googlemap.js" defer></script>
<div class="jumbotron">
 <h1 class="display-4" id="headline">UVFit</h1>
</div>

<div class="container">
   <ul>
   <a id="newUSer"><a href="create" class="nav-link">NewUser</a>
   <a id="OldUser"><a href="login" class="nav-link"> OldUser</a>
   </ul>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEUrMudBp6oaC0ZbJgeXmNrKayVwr9WIM&callback=initMap">
    </script>
    <p> Find us</p>
   <div id="map">our location:  </div>
   <h5 style="font-size:13px">UVFit Corporation © 2018</h5>


</div>

 

<% include partials/footer %>
