<% include partials/header %>

<link rel="stylesheet" href="/css/home.css">

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 col-8 col-sm-4 text-white text-center bg-dark rounded">Get fit.</h1>
        <a href="login">
            <button type="button" class="btn btn-dark col-sm-2 col-4">Login</button>
        </a>
        <a href="create">
            <button type="button" class="btn btn-dark col-sm-2 col-4">Sign Me Up!</button>
        </a>
    </div>
</div>
<script>
   $(window).on("load", function () {
      $("#logout").click(function(){
        console.log("remove iterm storage");
        window.localStorage.removeItem("authToken");
      });
   });
</script>
