<% include partials/header %>

<link rel="stylesheet" href="/css/home.css">


<div class="jumbotron">
 <h1 class="display-4" id="headline">UVFit</h1>
</div>


<div class="container">
  
  <h5 style="font-size:13px">UVFit Corporation © 2018</h5>

</div>

<script>
const modal = document.getElementById("candidateInfo");

window.onclick = function(e) {
  if(e.target == modal){
    modal.style.display="none";
  }
}
</script>

<% include partials/footer %>
