<!DOCTYPE html>
<html>
  <head>
	<title>my index</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Hello UVFit</h1>
	<p>Welcome to PDF file generater</p>
	<p><a href="login">Get PDF File</a></p>
	<p><a href="testGenerate">Push Data to Database</a></p>
  </body>
</html>
