<% include partials/header %>

<script src="/js/login.js" defer></script>

<form class="text-center">
    <div class="form-group">
        <h1>User login</h1>
    </div>
    <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div id="formErrors" class="form-group"></div>
</form>

<button type="submit" id="login" class="btn btn-dark col-4">Login</button>
<button type="verificate" id="verificate" class="btn btn-dark col-4" style="display:none" >Verify your email</button>
