<!DOCTYPE html>
<html>
  <head>
	<title>Gererate PDF</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Hello Affine Finance</h1>
	<p>Welcome to PDF file generater</p>
	<form action="ucenter" method="post">
		
		<p>
			<span>e-mail:</span>
			<br>
			<input id="email" name="email" type="text">
		</p>
		<p><input type="submit" value="Generate PDF File"></p>
	</form>
  </body>
</html>