<% include partials/header %>

       
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/login.js" defer></script>

    <div class="form">
    <h1>User login</h1>
    <label>Email</label> 
    <input type="email" name="" id="email"> 
    <label>Password</label> <br>
    <input type="password" name="" id="password"> 
    <div id="formErrors">
     test
    </div>
    <input type="submit" name="login" id="submit" value="Register"> 
    </div>


 
     
<% include partials/footer %>
