
<% include partials/header %>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="/js/profile.js" defer></script>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <div class="profile">
    <div class="leftbar">
		<br>	
     <p id="user">test</p>
		<input type="button" name="registerdevice" id="register" value="Register Device"> 
		<br><br>
		<input type="button" name="updateAccount" id="updateAccount" value="Update Account"> 
		<br><br>
		<input type="button" name="viewData" id="viewData" value="View Demo Data"> 
		<br><br>
    </div>
	
    <div class="rightbar">
      <div class="registerbox">
       <label>Email address</label> 
       <br>
       <input type="text" name="email" id="email"> 
       <br>
       <label>Device ID</label>
       <br>
       <input  type="text" id="DeviceId">  
       <br>
       <label>Device Name</label> 
       <br>
       <input type="text" name="DeviceName" id="DeviceName"> 
       <br>  
       <input type="submit" name="submit" id="submit" value="Register"> 
	</div>
	  
	<div class="updateAccountForm">
		<div class="form">
			<h1>Update Account</h1>
			<label>Full Name</label>
			<input type="text" id="fullName">  
			<label>Old Password</label> 
			<input type="text" name="" id="oldpassword"> 
			<label>New Password</label>
			<input type="text" name="" id="newpassword"> 
			<label>Confirm Password</label> 
			<input type="text" name="" id="passwordConfirm"> 
			
			<div id="formErrors"></div>
			
			<input type="submit" name="submit" id="submitUpdate" value="Submit"> 
		</div>
	</div>

       <div class="view">
     
         <table>
           <tr>
             <td> Date: </td>
             <td> Activity Duration:  </td>
             <td>  Calories Burned:  </td>
             <td>   UV exposure:   </td>
           </tr>
         </table>
         <div class="RowDate">
         </div>
         <!--
         <div class="viewData"  id="Date">   
          Date:
          <div class="viewDate"  id="Date1">
           </div>
         </div>
         <div class="viewData"  id="GPS">   
          Activity Duration:       
          </div>
          <div class="viewData"  id="speed">   
          Calories Burned:      
          </div>
          <div class="viewData"  id="UV">   
            UV exposure:  
         </div>
         -->
         <input type="submit" name="viewbutton" id="viewbutton" value="view"> 
       </div>
      <div class="error">
       test error
      <div>
      <p>test</p>
    </div>

  </div>

  <br>
</body>
</html>
