
<% include partials/header %>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="/js/profile.js" defer></script>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <div class="profile">
    <div class="leftbar">
		<br>	
        <p id="user"></p>
		<input type="button" name="registerdevice" id="register" value="Register Device"> 
		<br><br>
		 <input type="button" name="updateAccount" id="updateAccount" value="Update Account"> 
		<br><br>
        <input type="button" name="setUvThreshold" id="setUvThreshold" value="Set UV Threshold"> 
	 	<br> <br>
         <input type="button" name="replaceDevice" id="replaceDevice" value="Replace a device"> 

        <input type="submit" name="getForecast" id="getForecast" value="Weather Forecast"> 
	
        <input type="submit" name="listview" id="listview" value="List view"> 
		
        <input type="submit" name="summaryview" id="summaryview" value="summary view"> 
   
        <input type="submit" name="localUserView" id="localUserView" value="local User view"> 
         <input type="submit" name="allUserView" id="allUserView" value="all user view"> 
    </div>
	
    <div class="rightbar">
      <div class="registerbox">
       <label>Email address</label> 
       <br>
       <input type="text" name="email" id="email"> 
       <br>
       <label>Device ID</label>
       <br>
       <input  type="text" id="DeviceId">  
       <br>
       <label>Device Name</label> 
       <br>
       <input type="text" name="DeviceName" id="DeviceName"> 
       <br>  
       <input type="submit" name="submit" id="submit" value="Register"> 
	  </div>
	  
	<div class="updateAccountForm">
		<div class="form">
			<h1>Update Account</h1>
			<label>Full Name</label>
			<input type="text" id="fullName" value="">
			<label>Old Email</label>
			<input type="text" id="oldemail" value="">
			<label>New Email</label>
			<input type="text" id="newemail" value="">
			<label>Old Password</label> 
			<input type="password" name="" id="oldpassword"> 
			<label>New Password</label>
			<input type="password" name="" id="newpassword"> 
			<label>Confirm Password</label> 
			<input type="password" name="" id="passwordConfirm"> 
			
			<div id="formErrors"></div>
			
			<input type="submit" name="submit" id="submitUpdate" value="Submit"> 
		</div>
	</div>

        <div class="thresholdForm">
            <label>UV Exposure Threshold</label>
            <br>
            <input type="text" id="uvThres">
            <br>
            <div id="thresholdFormMessage"></div>
            <input type="submit" name="submitThres" id="submitThres" value="Submit">
        </div>
        
        <div class="forecastForm">
            <h1>Weather Forecast</h1>
            <p>Based on most recent lat/lon</p>
            <p id="forecastCityName"></p>
            <p id="forecastLatLon"></p>
            <div id="day0">
                <p id="day0Date"></p>
                <p id="day0Description"></p>
                <p id="day0Temp"></p>
                <p id="day0Rain"></p>
                <p id="day0Snow"></p>
                <p id="day0UvIndex"></p>
            </div>
            <div id="day1">
                <p id="day1Date"></p>
                <p id="day1Description"></p>
                <p id="day1Temp"></p>
                <p id="day1Rain"></p>
                <p id="day1Snow"></p>
                <p id="day1UvIndex"></p>
            </div>
            <div id="day2">
                <p id="day2Date"></p>
                <p id="day2Description"></p>
                <p id="day2Temp"></p>
                <p id="day2Rain"></p>
                <p id="day1Snow"></p>
                <p id="day2UvIndex"></p>
            </div>
            <div id="day3">
                <p id="day3Date"></p>
                <p id="day3Description"></p>
                <p id="day3Temp"></p>
                <p id="day3Rain"></p>
                <p id="daySnow"></p>
                <p id="day3UvIndex"></p>
            </div>
            <div id="day4">
                <p id="day4Date"></p>
                <p id="day4Description"></p>
                <p id="day4Temp"></p>
                <p id="day4Rain"></p>
                <p id="day4Snow"></p>
                <p id="day4UvIndex"></p>
            </div>
            <div id="forecastFormMessage"></div>
        </div>

          <div  class="Replacedevice">
                 <h1>Replace a device</h1>
                   <label>Old device ID</label> 
                   <br>
                   <input type="text" name="oldDevice" id="oldDevice"> 
                   <br>
                   <label>New Device ID</label>
                   <br>
                   <input  type="text" name="newDevice" id="newDevice">  
                   <br>  
                   <input type="submit" name="Change" id="Change" value="Change"> 
          </div>
    
      <div class="view">
        <div id="summary"> 
          Following  is the last 7 day total activities summary
        </div>

         <table>
           <tr>
             <td> Date: </td>
             <td> Activity Duration:  </td>
             <td>  Calories Burned:  </td>
             <td>   UV exposure:   </td>
           </tr>
         </table>
         <div class="RowDate">
         </div>
       <!--   <input type="submit" name="viewbutton" id="viewbutton" value="List view"> 
         <input type="submit" name="summaryview" id="summaryview" value="summary view">  -->
      </div>
      <div class="error">
       test error
      </div>

  </div>

</div>

  <br>
</body>
</html>
