
<% include partials/header %>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="/js/profile.js" defer></script>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <div class="profile">
    <div class="leftbar">
		<br>	
        <p id="user"></p>
		<input type="button" name="registerdevice" id="register" value="Register Device"> 
		<br><br>
		<input type="button" name="updateAccount" id="updateAccount" value="Update Account"> 
		<br><br>
        <input type="button" name="setUvThreshold" id="setUvThreshold" value="Set UV Threshold"> 
	
        <input type="submit" name="listview" id="listview" value="List view"> 
		
        <input type="submit" name="summaryview" id="summaryview" value="summary view"> 
   
        <input type="submit" name="localDataView" id="localDataView" value="local data view"> 
         <input type="submit" name="allUserView" id="allUserView" value="all user view"> 
    </div>
	
    <div class="rightbar">
      <div class="registerbox">
       <label>Email address</label> 
       <br>
       <input type="text" name="email" id="email"> 
       <br>
       <label>Device ID</label>
       <br>
       <input  type="text" id="DeviceId">  
       <br>
       <label>Device Name</label> 
       <br>
       <input type="text" name="DeviceName" id="DeviceName"> 
       <br>  
       <input type="submit" name="submit" id="submit" value="Register"> 
	  </div>
	  
	<div class="updateAccountForm">
		<div class="form">
			<h1>Update Account</h1>
			<label>Full Name</label>
			<input type="text" id="fullName" value="m">
			<label>Email</label>
			<input type="text" id="email2" value="m">
			<label>Old Password</label> 
			<input type="password" name="" id="oldpassword"> 
			<label>New Password</label>
			<input type="password" name="" id="newpassword"> 
			<label>Confirm Password</label> 
			<input type="password" name="" id="passwordConfirm"> 
			
			<div id="formErrors"></div>
			
			<input type="submit" name="submit" id="submitUpdate" value="Submit"> 
		</div>
	</div>

        <div class="thresholdForm">
            <label>UV Exposure Threshold</label>
            <br>
            <input type="text" id="uvThres">
            <br>
            <div id="thresholdFormMessage"></div>
            <input type="submit" name="submitThres" id="submitThres" value="Submit">
        </div>
    
      <div class="view">
        <div id="summary"> 
          Following  is the last 7 day total activities summary
        </div>

         <table>
           <tr>
             <td> Date: </td>
             <td> Activity Duration:  </td>
             <td>  Calories Burned:  </td>
             <td>   UV exposure:   </td>
           </tr>
         </table>
         <div class="RowDate">
         </div>
       <!--   <input type="submit" name="viewbutton" id="viewbutton" value="List view"> 
         <input type="submit" name="summaryview" id="summaryview" value="summary view">  -->
      </div>
      <div class="error">
       test error
      </div>

  </div>

</div>

  <br>
</body>
</html>
