<% include partials/header %>
      
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/singleview.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <div class="form"> 

    <div id="formErrors">
     test
    </div>
    </div>
     
<% include partials/footer %>
