<!DOCTYPE html>
<html>
  <head>
	<title>Store Data</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Hello clients</h1>
	<p>Welcome to</p>
	<form action="pdf" method="post">
		<p>
			<span>e-mail:</span>
			<br>
			<input id="email" name="email" type="text">
		</p>
		<p><input type="submit" value="Store Data"></p>
	</form>
  </body>
</html>