body {
    height:100%;
    padding-top:35px;
    font-family: oswald-medium,oswald,sans-serif;
    background-color: white;/*#35BAE8*/
}

a.nav-link {
    font-weight:bold;
    font-size:30px;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}