.container {
    display: flex;
    flex-flow: row wrap;
}

#main > div {
    display: none;
}

/*
.profile
{
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 400px;
	float: none;
}
.leftbar{

	display: inline-block;
	width: 10%;
	margin: 4px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 1px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
    float: left;
   
}

.rightbar{

	display: inline-block;;
	width: 80%;
	margin: 4px;
	margin-left: 50px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 1px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;


}


.viewData{
   display: inline-block;
   width: 150px;
   float: left;
}

.viewDate{
   display: inline-block;
   width: 150px;
   float: left;
   font-size: 13px;
}

.error{
display: none;
}
tr td:first-child {
 width: 200px;	
}
table tr:first-child{
   color:black;
   text-decoration: none;
}
td{ 
   width: 150px;
}
tr {
	color:blue;
	text-decoration: underline;
}
table{
	/*margin:auto; */
 text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
/*	margin-left: 20px;*/
 /*  display: block;*/
 /*  float: left;*/
}
input[type=text]{
   padding: 8px;
   margin-top: 4px;
   margin-bottom: 12px;
   border: 1px solid #aaa;
   border-radius: 4px;
   box-sizing: border-box;
	width: 450px;
}
input[type=submit] {

   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   width: 140px;
   height: 50px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
input[type=submit]:hover {
   background-color: #07d;
}
input[type=text].error {
    border: 2px solid red;
}

.form{
	width: 670px;
	margin-top: 10;
	margin-left:0; 
	font: 10pt Arial;
	background-color: #eee;
	padding-left: 12pt;	
	border: 1px solid #cccccc;
	border-radius: 1px;
	box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
}

.form h1{
	font-family: Roboto, Helvetica, sans-serif;
	color:#444444;
	text-align: left;
	font-size: 24pt;
}

.form input[type=text]{
	display: block;
	padding: 8px;
	margin-top: 4px;
	margin-bottom: 12px;
	border: 1px solid #aaa;
	border-radius: 4px
	box-sizing: border-box;
	width: 600px;
	text-align: left;
}

.form input[type=password]{
	display: block;
	padding: 8px;
	margin-top: 4px;
	margin-bottom: 12px;
	border: 1px solid #aaa;
	border-radius: 4px
	box-sizing: border-box;
	width: 600px;
	text-align: left;
}
.form label{
	display: block;
	font-color: bold;
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
	text-align: left;
}

.form input[type=submit] {
	display: block;
	background-color: #09f;
	color: white;
	padding: 15px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 600px;
}

.form input[type=submit]:hover {
	background-color: #07d;
}

#formErrors{ 
  	display: none; 
  	color:red;
}
/***  Responsive Design  ***/
/*  Desk top */
@media only screen and (min-width: 800px) {
.profile{
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: none;
	text-align: center;	
}
.rightbar{
	display: inline-block;
	width: 750px;
	margin: 4px;
	float: left;
	line-height: normal;
	text-align: center;
}

.leftbar {
	display: inline-block;
	float: left;
	line-height: normal;
	position: relative;	
	margin: 4px;
	text-align: center;
}

}
	
/*  Tablet  */
@media only screen and (max-width: 800px) {
	
.profile{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: none;
}
.leftbar {
	display: inline-block;
	float: left;
	line-height: normal;
	position: relative;	
	margin: 4px;
	text-align: center;
}
.rightbar{
	display: inline-block;
	float: left;
    width: auto;
    line-height: normal;
	margin: 4px;
	text-align: center;
}
.form{
	width:500;
	margin-top: 0px;
}

.form input[type=submit],
.form input[type=password],
.form input[type=text]{
	width: 470px;
}
}

/*  Mobile  */
@media only screen and (max-width: 600px) {
.leftbar{
	display: block;
	float: left;
	line-height: normal;
	position: relative;	
	width: 100px;
	text-align: center;
}
.leftbar input{
	line-height: normal;
	font-size: small;
	padding: 0px;
	vertical-align: text-top;
	width: 90px;
	text-align: center;
}

}

