
h1{
	font-family: Roboto, Helvetica, sans-serif;
	color:#444444;
	text-align: left;
	font-size: 24pt;
	
}
label
{
	 display: block;
	font-color:bold;
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
	text-align: left;
}

input{
   padding: 8px;
   margin-top: 4px;
   margin-bottom: 12px;
   border: 1px solid #aaa;
   border-radius: 4px;
   box-sizing: border-box;
	  width: 600px;
}
input[type=submit] {
  
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
input[type=submit]:hover {
   background-color: #07d;
}
input[type=verificate] {
   
    display: none;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
input[type=verificate]:hover {
   background-color: #07d;
}
input[type=text].error {
    border: 2px solid red;
}
.form{

	 width: 670px;

  margin-top: 100px;
  margin-left:400px; 
   font: 10pt Arial;
  background-color: #eee;
	padding-left: 12pt;	
	border: 1px solid #cccccc;
	border-radius: 1px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
}
#formErrors
{ 
  	display: none; 
  	color:red;
}